* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 16px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   background: #ffffff;
}
input,
button,
textarea {
   font-family: inherit;
}
button {
   font-size: 16px;
}

input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
}

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
}

.container {
   max-width: 1310px;
   padding: 0 10px;
   margin: 0 auto;
}
.main {
   flex: 1 1 auto;
}
.btnYellow {
   padding: 17.5px 40px;
   border-radius: 30px;
   background: #fec300;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
   max-width: 191px;
   width: 100%;
   position: relative;
   overflow: hidden;
   transition: 0.3s;
   &::before {
      content: "";
      position: absolute;
      left: -10%;
      top: 0;
      width: 0%;
      height: 100%;
      background: #000;
      transition: 0.3s;
      transform: skew(45deg);
      z-index: 1;
   }
   &:hover::before {
      width: 120%;
   }
   & > span {
      position: relative;
      z-index: 2;
   }
}
.btnBlack {
   padding: 17.5px 40px;
   border-radius: 30px;
   background: #000;
   font-weight: 700;
   text-transform: uppercase;
   color: #fff;
   max-width: 191px;
   width: 100%;
   position: relative;
   overflow: hidden;
   transition: 0.3s;
   &::before {
      content: "";
      position: absolute;
      left: -10%;
      top: 0;
      width: 0%;
      height: 100%;
      background: #fec300;
      transition: 0.3s;
      transform: skew(45deg);
      z-index: 1;
   }
   &:hover::before {
      width: 120%;
   }
   & > span {
      position: relative;
      z-index: 2;
   }
}
.range-slider .thumb {
   height: 30px;
   width: 30px;
   border-radius: 50%;
   background: #fff;
   top: -13px;
   box-shadow: 0px 2px 4px 0px rgba(1, 70, 15, 0.1), 0px 7px 7px 0px rgba(1, 70, 15, 0.09),
      0px 15px 9px 0px rgba(1, 70, 15, 0.05), 0px 27px 11px 0px rgba(1, 70, 15, 0.01),
      0px 42px 12px 0px rgba(1, 70, 15, 0);
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: grab;
   &::before {
      content: "";
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: #fec300;
   }
}
.range-slider .track-1 {
   height: 2px;
   background: #fec300;
}
