.preview {
   background: #fdf5dc;
   height: 600px;
   @media (max-width: 820px) {
      height: auto;
      padding: 20px 0;
   }
   &__container {
      display: flex;
      justify-content: space-between;
      height: 100%;
      @media (max-width: 820px) {
         flex-direction: column;
         gap: 30px;
      }
   }
   &__titleBody {
      flex: 0 1 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      & > *:not(:last-child) {
         margin: 0 0 30px 0;
      }
      @media (max-width: 420px) {
         align-items: center;
      }
   }
   &__title {
      font-size: 44px;
      font-weight: 700;
      line-height: 120%;
      @media (max-width: 420px) {
         font-size: 32px;
      }
   }
   &__subtitle {
      font-weight: 350;
      line-height: 140%;
      max-width: 490px;
   }
   &__btn {
      background: #000;
      color: #fff;
      font-weight: 700;
      line-height: 100%;
      text-transform: uppercase;
      max-width: 246px;
      padding: 20px 40px;
      border-radius: 30px;
   }
   &__imagesBody {
      flex: 0 1 50%;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 100%;
   }
   &__imgBody {
      position: relative;
      max-width: 673px;
      width: 100%;
      aspect-ratio: 673/398;
   }
}
.equip {
   margin: 120px 0 0 0;
   &__items {
      overflow: hidden;
      &:hover .equip__items__imgBody {
         transform: scale(1.1);
      }
      &__imgBody {
         transition: 0.3s;
      }
   }
   &__titleBody {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 530px) {
         flex-direction: column;
         gap: 30px;
      }
   }
   &__title {
      font-size: 32px;
      font-weight: 700;
      color: inherit;
   }
   &__catalog {
      font-weight: 700;
      text-transform: uppercase;
      background: inherit;
      margin: 5px 0 0 0;
      &::after {
         content: url("/svg/next.svg");
         margin: 0 0 0 6px;
         position: relative;
         top: 2px;
      }
   }
   &__cards {
      margin: 60px 0 0 0;
   }
   &__itemsBody {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      width: 100%;
      gap: 30px 30px;
      height: 500px;
      margin: 60px 0 0 0;
      grid-template-areas:
         "label0 label1 label1 "
         "label0 label2 label2 ";
      @media (max-width: 900px) {
         height: 400px;
         gap: 15px;
      }
      @media (max-width: 850px) {
         grid-template-rows: 1fr 1fr;
         grid-template-columns: 1fr 1fr;
         grid-template-areas:
            "label0 label2 label2 "
            " label1 label1 label1 ";
         height: 800px;
      }
   }
   &__innerTitleBody2 {
      display: flex;
      flex-direction: column;
      padding: 0 0 40px 0;
      justify-content: center;
   }
   &__innerTitleBody4 {
      margin: auto 0;
      padding: 0 0 40px 0;
      @media (max-width: 430px) {
         padding: 0 0 10px 0;
      }
   }
   &__innerTitle {
      font-size: 24px;
      font-weight: 700;
      max-width: 310px;
      @media (max-width: 550px) {
         font-size: 18px;
      }
      @media (max-width: 350px) {
         font-size: 16px;
      }
   }
   &__innerSubtitleBody {
      display: flex;
      margin: 20px 0 0 0;
   }
   &__innerinCatalog {
      font-weight: 700;
      text-transform: uppercase;
      @media (max-width: 550px) {
         font-size: 12px;
      }
      @media (max-width: 350px) {
         font-size: 11px;
      }
   }
   &__innerNext {
      margin: 0 0 0 6px;
      @media (max-width: 550px) {
         height: 10px;
         margin: 0;
      }
   }
   &__item1 {
      grid-area: label0;
      background: #ebecec;
      border-radius: 40px;
      padding: 40px 0 0 30px;
      overflow: hidden;
      color: inherit;
      &__imgBody {
         position: relative;
         aspect-ratio: 720/550;
         margin: 90px 0 0 0;
         @media (max-width: 1250px) {
            margin: 110px 0 0 0;
         }
         @media (max-width: 1100px) {
            margin: 140px 0 0 0;
         }
         @media (max-width: 1000px) {
            margin: 170px 0 0 0;
         }
         @media (max-width: 900px) {
            margin: 90px 0 0 0;
         }
         @media (max-width: 850px) {
            margin: 0px 0 0 0;
         }
         @media (max-width: 850px) {
            margin: 0px 0 0 0;
         }
         @media (max-width: 400px) {
            height: 170px;
            width: 170px;
         }
         @media (max-width: 350px) {
            height: 145px;
            width: 145px;
         }
      }
      @media (max-width: 800px) {
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
      @media (max-width: 430px) {
         padding: 100px 10px 0 10px;
      }
   }
   &__item2 {
      grid-area: label1;
      background: #fdf5dc;
      border-radius: 40px;
      padding: 40px 0 0 30px;
      max-height: 235px;
      height: 100%;
      display: flex;
      gap: 52px;
      color: inherit;
      @media (max-width: 900px) {
         max-height: 192.5px;
      }
      @media (max-width: 550px) {
         max-height: 230px;
         gap: 10px;
      }
      &__imgBody {
         position: relative;
         aspect-ratio: 461/193;
         max-width: 461px;
         height: 193px;
         width: 100%;
      }
   }
   &__item3 {
      grid-area: label2;
      display: flex;
      gap: 30px;
      max-height: 235px;
      @media (max-width: 900px) {
         max-height: 192.5px;
      }
      @media (max-width: 850px) {
         flex-direction: column;
         max-height: 392.5px;
      }
      @media (max-width: 550px) {
         gap: 20px;
      }
      &__subitem1 {
         flex: 0 1 40%;
         background: #baedf3;
         border-radius: 40px;
         padding: 40px 0 0 30px;
         display: flex;
         flex-direction: column;
         color: inherit;
         &__imgBody {
            margin: 0 0 0 150px;
            position: relative;
            max-height: 141px;
            max-width: 183px;
            aspect-ratio: 135/149;
            @media (max-width: 1100px) {
               margin: 0 0 0 120px;
            }
            @media (max-width: 1000px) {
               margin: 0 0 0 90px;
            }
            @media (max-width: 900px) {
               margin: 0 0 0 120px;
            }
            @media (max-width: 850px) {
               margin: 0 0 0 0;
            }
            @media (max-width: 480px) {
               max-width: 150px;
               max-height: 110px;
               margin: 40px 0 0 0;
            }
            @media (max-width: 430px) {
               max-width: 130px;
               max-height: 110px;
               margin: 0 0 0 40px;
            }
         }
         @media (max-width: 1250px) {
            flex: 0 1 45%;
         }
         @media (max-width: 850px) {
            flex: 0 1 50%;
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 0 0 10px;
         }
         @media (max-width: 430px) {
            flex-direction: column;
            padding: 10px 0 0 40px;
         }
         @media (max-width: 360px) {
            padding: 10px 0 0 20px;
         }
      }
      &__subitem2 {
         flex: 0 1 60%;
         background: #ebecec;
         border-radius: 40px;
         padding: 30px 10px 0 23px;
         overflow: hidden;
         display: flex;
         flex-direction: row-reverse;
         gap: 25px;
         color: inherit;
         @media (max-width: 1140px) {
            align-items: flex-end;
         }
         &__imgBody {
            position: relative;
            max-width: 252px;
            width: 100%;
            max-height: 239px;
            aspect-ratio: 252/239;
            @media (max-width: 1140px) {
               max-height: 140px;
               max-width: 150px;
            }
            @media (max-width: 430px) {
               max-width: 110px;
               max-height: 160px;
               margin: 0 0 0 50px;
            }
         }
         @media (max-width: 1250px) {
            flex: 0 1 55%;
         }
         @media (max-width: 1140px) {
            gap: 10px;
            padding: 20px 5px 0px 5px;
         }
         @media (max-width: 850px) {
            flex: 0 1 50%;
         }
         @media (max-width: 430px) {
            flex-direction: column;
            justify-content: center;
            gap: 0;
            padding: 15px 10px 0 20px;
            align-items: center;
         }
      }
   }
   &__pwrBody {
      display: flex;
      flex-direction: column;
      height: 100%;
      border-radius: 40px;
      padding: 40px 0 0 30px;
      cursor: pointer;
      overflow: hidden;
      &:hover .equip__pwrImg {
         scale: 1.1;
      }
      @media (max-width: 1130px) {
         padding: 40px 0 0 10px;
      }
      @media (max-width: 780px) {
         padding: 10px 0 0 10px;
         height: 89.5%;
      }
   }
   &__rooftopBody {
      background: #fdf5dc;
      display: flex;
      height: 235px;
      border-radius: 40px;
      align-items: center;
      padding: 0 35px 0 30px;
      cursor: pointer;
      overflow: hidden;
      gap: 5px;
      &:hover .equip__rooftopImg {
         scale: 1.1;
      }
      @media (max-width: 1130px) {
         padding: 0 10px;
      }
      @media (max-width: 780px) {
         height: 180px;
         flex-direction: column;
         padding: 5px 35px 0 30px;
      }
   }
   &__vrfBody {
      background: #baedf3;
      height: 235px;
      flex: 1 1 auto;
      max-width: 300px;
      width: 100%;
      border-radius: 40px;
      padding: 40px 0 0 30px;
      cursor: pointer;
      overflow: hidden;
      &:hover .equip__vrfImg {
         scale: 1.1;
      }
      @media (max-width: 1130px) {
         padding: 40px 0 0 10px;
      }
      @media (max-width: 930px) {
         flex: 1 1 30%;
      }
      @media (max-width: 780px) {
         flex: 1 1 40%;
         padding: 10px 0 0 30px;
      }
   }
   &__chillerBody {
      background: #ebecec;
      height: 235px;
      flex: 1 1 auto;
      border-radius: 40px;
      display: flex;
      flex-direction: row-reverse;
      gap: 25px;
      cursor: pointer;
      overflow: hidden;
      padding: 0 5px;
      &:hover .equip__chillerImg {
         scale: 1.1;
      }
      & > :first-child {
         justify-content: center;
         max-width: 180px;
      }
      @media (max-width: 1130px) {
         flex-direction: column;
         align-items: center;
         padding: 5px 5px 0 5px;
      }
      @media (max-width: 980px) {
         gap: 10px;
      }
   }
   &__itemTitleBody {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      position: relative;
      z-index: 2;
   }
   &__itemTitle {
      font-size: 24px;
      font-weight: 700;
      max-width: 309px;
      @media (max-width: 700px) {
         font-size: 18px;
      }
   }
   &__inCatalog {
      margin: 20px 0 0 0;
      font-weight: 700;
      text-transform: uppercase;
      &::after {
         content: url("/svg/next.svg");
         margin: 0 0 0 6px;
         position: relative;
         top: 2px;
         @media (max-width: 700px) {
            display: none;
         }
      }
      @media (max-width: 700px) {
         font-size: 12px;
      }
   }
   &__pwrBody {
      background: #ebecec;
      width: 100%;
      max-width: 410px;
   }
   &__pwrImg {
      position: relative;
      width: 351px;
      height: 313px;
      transform: translateX(30px);
      transition: 0.3s;
      @media (max-width: 1060px) {
         transform: translateX(0px);
      }
      @media (max-width: 880px) {
         width: 251px;
         height: 213px;
      }
   }
   &__rooftopImgBody {
      height: 100%;
      display: flex;
      align-items: flex-end;
   }
   &__rooftopImg {
      position: relative;
      width: 462px;
      aspect-ratio: 462/195;
      transition: 0.3s;
      @media (max-width: 1060px) {
         width: 400px;
      }
      @media (max-width: 980px) {
         width: 350px;
      }
      @media (max-width: 930px) {
         width: 300px;
      }
   }
   &__vrfImgBody {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      @media (max-width: 780px) {
         margin: 30px 0 0 0;
      }
   }
   &__vrfImg {
      position: relative;
      width: 166px;
      aspect-ratio: 166/136;
      transition: 0.3s;
   }
   &__chillerImgBody {
      display: flex;
      align-items: flex-end;
   }
   &__chillerImg {
      position: relative;
      width: 252px;
      aspect-ratio: 252/204;
      max-height: 204px;
      margin: 0 0 0 23px;
      transition: 0.3s;
      @media (max-width: 1220px) {
         width: 180px;
      }
      @media (max-width: 980px) {
         margin: 0;
      }
   }
}
.recommended {
   margin: 120px 0 0 0;
   @media (max-width: 850px) {
      margin: 60px 0 0 0;
   }
   &__title {
      font-size: 32px;
      font-weight: 700;
   }
   &__list {
      margin: 60px 0 0 0;
      display: flex;
      gap: 30px;
      @media (max-width: 880px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr;
      }
      @media (max-width: 360px) {
         gap: 15px;
      }
   }
   &__item {
      flex: 0 1 25%;
      min-height: 100%;
      display: flex;
      flex-direction: column;

      & > *:not(:first-child) {
         margin: 20px 0 0 0;
      }
   }
   &__cardBody {
      background: #ebecec;
      padding: 40px;
      border-radius: 40px;
      overflow: hidden;
      cursor: pointer;
      &:hover .recommended__imgBody {
         scale: 1.1;
      }
      @media (max-width: 500px) {
         padding: 15px;
      }
   }
   &__imgBody {
      position: relative;
      max-width: 220px;
      aspect-ratio: 1/1;
      transition: 0.3s;
   }
   &__model {
      font-size: 24px;
      font-weight: 700;
      flex: 1 1 auto;
      @media (max-width: 500px) {
         font-size: 20px;
      }
      @media (max-width: 360px) {
         font-size: 16px;
      }
   }
   &__type {
      color: #333333;
   }
   &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 51px;
      border-radius: 30px;
      background: #fec300;
      font-weight: 700;
      text-transform: uppercase;
      color: #fff;
      max-width: 191px;
      width: 100%;
      position: relative;
      overflow: hidden;
      transition: 0.3s;
      &::before {
         content: "";
         position: absolute;
         left: -10%;
         top: 0;
         width: 0%;
         height: 100%;
         background: #000;
         transition: 0.3s;
         transform: skew(45deg);
         z-index: 1;
      }
      &:hover::before {
         width: 120%;
      }
      & > span {
         position: relative;
         z-index: 2;
      }
      @media (max-width: 500px) {
         height: 40px;
         font-size: 12px;
      }
   }
}
.about {
   margin: 120px 0 0 0;
   &__container {
      display: flex;
      max-width: 900px;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 600px) {
         gap: 15px;
      }
      @media (max-width: 450px) {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 1fr 1fr;
         place-items: center;
      }
   }
   &__imgBody {
      position: relative;
      max-width: 261px;
      aspect-ratio: 261/373;
      flex: 0 1 50%;
      @media (max-width: 450px) {
         flex: 0 0 auto;
         height: 371px;
      }
   }
   &__titleBody {
      display: flex;
      flex-direction: column;
      flex: 0 1 50%;
      & > *:not(:first-child) {
         margin: 30px 0 0 0;
      }
   }
   &__title {
      font-size: 32px;
      font-weight: 700;
   }
   &__subtitle {
      font-weight: 350;
      line-height: 140%;
   }
   &__btn {
      font-weight: 700;
      text-transform: uppercase;
      display: inline-flex;
      max-width: 127px;
      background: transparent;
      color: inherit;
      &::after {
         content: url("/svg/next.svg");
         margin: 0 0 0 6px;
      }
   }
}
.contactUs {
   margin: 120px 0 0 0;
   padding: 120px 0;
   background: #fdf5dc;
   position: relative;
   @media (max-width: 600px) {
      padding: 60px;
   }
   @media (max-width: 500px) {
      padding: 60px 0;
   }
   &__container {
      max-width: 820px;
      display: flex;
      gap: 33px;
      @media (max-width: 600px) {
         flex-direction: column;
      }
   }
   &__titleBody {
      flex: 0 1 50%;
   }
   &__title {
      font-size: 32px;
      font-weight: 700;
   }
   &__subtitle {
      margin: 30px 0 0 0;
      font-weight: 350;
      line-height: 140%;
   }
   &__inputsBody {
      flex: 0 1 50%;
   }
   &__input {
      border-radius: 30px;
      border: 1px solid #828282;
      background: inherit;
      padding: 20px 30px;
      font-weight: 350;
      text-transform: uppercase;
      width: 100%;
      &:not(:first-child) {
         margin: 20px 0 0 0;
      }
      &__dirty {
         border: 1px solid #ff0000;
      }
   }
   &__inputArea {
      border-radius: 30px;
      border: 1px solid #828282;
      background: inherit;
      padding: 20px 30px;
      font-weight: 350;
      text-transform: uppercase;
      resize: none;
      height: 150px;
      margin: 20px 0 0 0;
      width: 100%;
      &__dirty {
         border: 1px solid #ff0000;
      }
   }
   &__btn {
      margin: 20px 0 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      height: 51px;
      max-width: 177px;
      width: 100%;
      background: #000;
      color: #fff;
      border-radius: 30px;
      text-transform: uppercase;
      font-weight: 700;
   }
   &__dirtyField {
      margin: 10px 0 0 0;
      font-size: 18px;
      font-weight: 700;
      overflow: hidden;
      color: #ff0000;
      height: 0px;
      &__active {
         height: auto;
      }
   }
}
.popup {
   position: fixed;
   z-index: 5;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: rgba($color: #000000, $alpha: 0.5);
   &__hidden {
      visibility: hidden;
   }
   &__active {
      visibility: visible;
   }
   &__body {
      max-width: 316px;
      width: 100%;
      max-height: 223px;
      background: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 40px;
      border-radius: 20px;
      transform: translateY(-200%);
      opacity: 0;
      transition: 0.35s;
      &__active {
         transform: translateY(0%);
         opacity: 1;
      }
   }
   &__accept {
      display: flex;
      flex-direction: column;
      align-items: center;
      div {
         margin: 10px 0 0 0;
      }
   }
   &__btn {
      margin: 40px 0 0 0;
      height: 51px;
      max-width: 236px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      white-space: nowrap;
   }
}
@keyframes global-fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
