.footer {
   padding: 120px 0;
   display: flex;
   justify-content: space-between;
   &__logoBody {
   }
   &__logoImgBody {
      position: relative;
      width: 130px;
      height: 30px;
   }
   &__subtitle {
      margin: 26px 0 0 0;
      color: #828282;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 211px;
   }
   &__cols {
      display: flex;
      gap: 120px;
      &__item {
         font-weight: 700;
         &:not(:last-child) {
            margin: 0 0 15px 0;
         }
      }
      &__itemMail {
         text-transform: lowercase;
      }
      &__list {
         margin: 30px 0 0 0;
         color: #828282;
         text-transform: uppercase;
      }
   }
}
