.footer {
   padding: 60px 10px;
   display: flex;
   justify-content: space-between;
   position: relative;
   z-index: 2;
   @media (max-width: 650px) {
      flex-direction: column-reverse;
      align-items: center;
      gap: 50px;
   }
   &__logoImgBody {
      position: relative;
      width: 130px;
      height: 30px;
   }
   &__subtitle {
      margin: 26px 0 0 0;
      color: #2e2e2e;
      font-weight: 700;
      text-transform: uppercase;
      max-width: 211px;
      text-decoration: underline;
      transition: 0.25s;
      &:hover {
         color: #fec300;
      }
   }
   &__cols {
      display: flex;
      gap: 120px;
      @media (max-width: 900px) {
         gap: 50px;
      }
      @media (max-width: 740px) {
         gap: 20px;
      }
      @media (max-width: 650px) {
         gap: 40px;
      }
      @media (max-width: 470px) {
         gap: 20px;
      }
      @media (max-width: 430px) {
         flex-direction: column;
      }
      &__itemBody {
         color: inherit;
      }
      &__title {
         font-weight: 700;
         text-transform: uppercase;
      }
      &__item {
         font-weight: 700;
         margin: 0 0 15px 0;
         transition: 0.2s;
         cursor: pointer;
         &:not(:last-child) {
            margin: 0 0 15px 0;
         }
         &:hover {
            color: #fec300;
         }
      }
      &__itemLink {
         display: flex;
         color: inherit;
      }
      &__itemMail {
         text-transform: lowercase;
      }
      &__list {
         margin: 30px 0 0 0;
         color: #414141;
         text-transform: uppercase;
      }
   }
}
