.faq {
   animation-name: global-fade-in;
   animation-duration: 1.2s;
   &__title {
      margin: 30px 0 0 0;
      font-size: 32px;
      font-weight: 700;
   }
   &__cols {
      margin: 60px 0 0 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      @media (max-width: 900px) {
         grid-template-columns: 1fr;
      }
   }
   &__item {
      padding: 24px 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      border-radius: 40px;
      box-shadow: 0px 18px 40px 0px rgba(0, 8, 71, 0.1), 0px 72px 72px 0px rgba(0, 8, 71, 0.09),
         0px 162px 97px 0px rgba(0, 8, 71, 0.05), 0px 288px 115px 0px rgba(0, 8, 71, 0.01),
         0px 450px 126px 0px rgba(0, 8, 71, 0);
      color: inherit;
      transition: 0.25s;
      &:hover {
         color: #fec300;
         background: #ebebeb;
      }
   }
}
.answer {
   animation-name: global-fade-in;
   animation-duration: 1.2s;
   &__body {
      margin: 30px 0 0 0;
   }
   &__title {
      font-size: 32px;
      font-weight: 700;
   }
   &__item {
      margin: 30px 0 0 0;
   }
   &__question {
      font-size: 24px;
      font-weight: 700;
      margin: 0 0 20px 0;
   }
   &__answer {
      &:not(:last-child) {
         margin: 0 0 20px 0;
      }
   }
}

@keyframes global-fade-in {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
